<section class="section-offerings">
      <div class="container">
         <img src="./images/aple-min.jpg" alt="an apple" />
        <h2 class="section-title">What’s Special About Our Offerings</h2>
        <p class="item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <ul class="list">
          <li class="offerings-list">
            <h3 class="title">Fasest Delivery</h3>
            <p class="item">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
          <li class="offerings-list">
            <h3 class="title">Easy To Order</h3>
            <p class="item">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
        </ul>
        <button type="button" class="button">Order Now</button>

      </div>
        
      </section>